<a href="https://colab.research.google.com/github/Lsx961029/AI-Course/blob/master/Assignment4_DifferentClassifiers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Imports and pip installations (if needed)
import sklearn
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn import svm
import pandas as pd

# Part 1: Load the dataset

In [2]:
# Load the dataset (load remotely, not locally)
iris_data=load_iris(as_frame=True)
# Output the first 15 rows of the data
iris_data["data"].head(15)

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                 5.1               3.5                1.4               0.2
1                 4.9               3.0                1.4               0.2
2                 4.7               3.2                1.3               0.2
3                 4.6               3.1                1.5               0.2
4                 5.0               3.6                1.4               0.2
5                 5.4               3.9                1.7               0.4
6                 4.6               3.4                1.4               0.3
7                 5.0               3.4                1.5               0.2
8                 4.4               2.9                1.4               0.2
9                 4.9               3.1                1.5               0.1
10                5.4               3.7                1.5               0.2
11                4.8               3.4                1.6               0.2
12                4.8               3.0                1.4               0.1
13                4.3               3.0                1.1               0.1
14                5.8               4.0                1.2               0.2

In [3]:
# Display a summary of the table information (number of datapoints, etc.)
iris_data

{'data':      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
 0                  5.1               3.5                1.4               0.2
 1                  4.9               3.0                1.4               0.2
 2                  4.7               3.2                1.3               0.2
 3                  4.6               3.1                1.5               0.2
 4                  5.0               3.6                1.4               0.2
 ..                 ...               ...                ...               ...
 145                6.7               3.0                5.2               2.3
 146                6.3               2.5                5.0               1.9
 147                6.5               3.0                5.2               2.0
 148                6.2               3.4                5.4               2.3
 149                5.9               3.0                5.1               1.8

 [150 rows x 4 columns],
 'target': 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 145    2
 146    2
 147    2
 148    2
 149    2
 Name: target, Length: 150, dtype: int32,
 'frame':      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
 0                  5.1               3.5                1.4               0.2
 1                  4.9               3.0                1.4               0.2
 2                  4.7               3.2                1.3               0.2
 3                  4.6               3.1                1.5               0.2
 4                  5.0               3.6                1.4               0.2
 ..                 ...               ...                ...               ...
 145                6.7               3.0                5.2               2.3
 146                6.3               2.5                5.0               1.9
 147                6.5               3.0                5.2               2.0
 148                6.2               3.4                5.4               2.3
 149                5.9               3.0                5.1               1.8

      target
 0         0
 1         0
 2         0
 3         0
 4         0
 ..      ...
 145       2
 146       2
 147       2
 148       2
 149       2

 [150 rows x 5 columns],
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'C:\\Users\\shuox\\anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\iris.csv'}

## About the dataset
Explain what the data is in your own words. What are your features and labels? What is the mapping of your labels to the actual classes?

Iris data set consists of 50 samples from each of three species of Iris. Four features were measured from each sample: the length and the width of the sepals and petals, in centimeters. Labels are 0,1,2 corresponding to setosa, versicolor, virginica.

# Part 2: Split the dataset into train and test

In [4]:
# Take the dataset and split it into our features (X) and label (y)
features = iris_data["data"]
labels = iris_data["target"]
# Use sklearn to split the features and labels into a training/test set. (90% train, 10% test)
x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size=0.1, random_state=3)
x_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
40                 5.0               3.5                1.3               0.3
72                 6.3               2.5                4.9               1.5
135                7.7               3.0                6.1               2.3
113                5.7               2.5                5.0               2.0
42                 4.4               3.2                1.3               0.2
..                 ...               ...                ...               ...
107                7.3               2.9                6.3               1.8
21                 5.1               3.7                1.5               0.4
0                  5.1               3.5                1.4               0.2
131                7.9               3.8                6.4               2.0
106                4.9               2.5                4.5               1.7

[135 rows x 4 columns]

In [5]:
y_train

40     0
72     1
135    2
113    2
42     0
      ..
107    2
21     0
0      0
131    2
106    2
Name: target, Length: 135, dtype: int32

# Part 3: Logistic Regression

In [6]:
# i. Use sklearn to train a LogisticRegression model on the training set
clf = LogisticRegression(solver='lbfgs', max_iter=1000)
clf.fit(x_train, y_train)

# ii. For a sample datapoint, predict the probabilities for each possible class
clf.predict_proba(x_test[:1])

array([[9.80420366e-01, 1.95796007e-02, 3.35632799e-08]])

In [7]:
# iii. Report on the score for Logistic regression model, what does the score measure?
clf.score(x_test, y_test)

1.0

The score measures the performance of LogisticRegression model on the test set.

In [8]:
# iv. Extract the coefficents and intercepts for the boundary line(s)
clf.coef_

array([[-0.39958068,  0.96281599, -2.44294432, -1.05204615],
       [ 0.51458049, -0.30964318, -0.19490967, -0.94533303],
       [-0.11499981, -0.65317281,  2.63785399,  1.99737918]])

In [9]:
clf.intercept_

array([  9.42210875,   2.2067524 , -11.62886115])

# Part 4: Support Vector Machine

In [10]:
# i. Use sklearn to train a Support Vector Classifier on the training set
clf1 = svm.SVC(probability=True)
clf1.fit(x_train, y_train)
# ii. For a sample datapoint, predict the probabilities for each possible class
clf1.predict_proba(x_test[:1])

array([[0.97291979, 0.01720058, 0.00987963]])

In [11]:
# iii. Report on the score for the SVM, what does the score measure?
clf1.score(x_test, y_test)

1.0

The score measures the performance of SVC model on the test set.

# Part 5: Neural Network

In [12]:
# i. Use sklearn to train a Neural Network (MLP Classifier) on the training set
clf2 = MLPClassifier(hidden_layer_sizes=(100,100,100,100),max_iter=1000)
clf2.fit(x_train, y_train)
# ii. For a sample datapoint, predict the probabilities for each possible class
clf2.predict_proba(x_test[:1])

array([[9.99998622e-01, 1.37768666e-06, 3.97757270e-16]])

In [13]:
# iii. Report on the score for the Neural Network, what does the score measure?
clf2.score(x_test, y_test)

1.0

The score measures the performance of MLP classifier on the test set.

In [14]:
# iv: Experiment with different options for the neural network, report on your best configuration (the highest score I was able to achieve was 0.8666)
MLP1 = MLPClassifier(hidden_layer_sizes=(1),max_iter=2000)
MLP1.fit(x_train, y_train)
MLP1.score(x_test, y_test)

0.8

In [15]:
MLP2 = MLPClassifier(hidden_layer_sizes=(1,1,1),max_iter=2000)
MLP2.fit(x_train, y_train)
MLP2.score(x_test, y_test)

0.3333333333333333

In [16]:
MLP3 = MLPClassifier(hidden_layer_sizes=(5),max_iter=2000)
MLP3.fit(x_train, y_train)
MLP3.score(x_test, y_test)

1.0

In [17]:
MLP4 = MLPClassifier(hidden_layer_sizes=(5,5,5),max_iter=2000)
MLP4.fit(x_train, y_train)
MLP4.score(x_test, y_test)

0.3333333333333333

In [18]:
MLP5 = MLPClassifier(hidden_layer_sizes=(5),max_iter=2000,activation="logistic")
MLP5.fit(x_train, y_train)
MLP5.score(x_test, y_test)

C:\Users\shuox\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (2000) reached and the optimization hasn't converged yet.
  warnings.warn(

1.0

In [19]:
MLP6 = MLPClassifier(hidden_layer_sizes=(5), activation="logistic", max_iter=5000, solver="sgd", learning_rate="adaptive")
MLP6.fit(x_train, y_train)
MLP6.score(x_test, y_test)

0.13333333333333333

### Best score

In [20]:
max(MLP1.score(x_test, y_test), MLP2.score(x_test, y_test),MLP3.score(x_test, y_test),MLP4.score(x_test, y_test),MLP5.score(x_test, y_test),MLP6.score(x_test, y_test))

1.0

# Part 6: K-Nearest Neighbors

In [21]:
# i. Use sklearn to 'train' a k-Neighbors Classifier
# Note: KNN is a nonparametric model and technically doesn't require training
# fit will essentially load the data into the model see link below for more information
# https://stats.stackexchange.com/questions/349842/why-do-we-need-to-fit-a-k-nearest-neighbors-classifier
clf3 = KNeighborsClassifier()
clf3.fit(x_train, y_train)
# ii. For a sample datapoint, predict the probabilities for each possible class
clf3.predict_proba(x_test[:1])

array([[1., 0., 0.]])

In [22]:
# iii. Report on the score for kNN, what does the score measure?
clf3.score(x_test, y_test)

1.0

The score measures the performance of KNN classifier on the test set.

# Part 7: Conclusions and takeaways

In your own words describe the results of the notebook. Which model(s) performed the best on the dataset? Why do you think that is? Did anything surprise you about the exercise?

I think Logistic Regression model performed the best on the dataset because 1.All the models have a same score, 2.It has the second highest probability for the correct label among all the models, 3.It has less parameters to train compared with Neural Network model, 4.Also it doesnt ask for much space as K-Nearest Neighbors model. So based on Ockham's Razor, I think it is the best model.

One thing surprises me is that all models get a score of 1.